html, body {
	height: 100%;
	font-size: 16px;
	color: #777;
}

nav.navbar {
	z-index: 110 !important;
}

#route-creator > nav {
	background-color: #292929;
	position: absolute;
	top: 0; right: 0; left: 0;
	height: 3.125em;
}

#route-creator, #map {
	position: relative;
	height: 100%;
	width: 100%;
}

#composer {
	position: absolute;
	top: 3.125em;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 0 0.9375em 0.9375em 0.9375em;
	background-color: #f8f8f8;
	overflow: auto;
}

@media (min-width: 48em) {
	#composer {
		right: auto;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px #777;
		width: 18.750em;
	}

	#route-creator:not(.map-visible) #map {
		width: auto;
		margin-left: 18.750em;
	}
}

#route,
#route > li,
#search-results,
#search-results > li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#route > li,
#search-results > li {
	padding: 0.375em;
	border-left: 1px solid #d5d5d5;
}

#route > li {
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

#route > li.ui-sortable-helper {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

#route > li > *,
#search-results > li > * {
	display: inline-block;
	white-space: nowrap;
}

#route > li > .waypoint-flag
#search-results > li > .search-result-icon {
	width: 10%;
}

#route > li > .waypoint-name,
#search-results > li > .search-result-name {
	width: 70%;
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#route > li > .delete-waypoint,
#search-results > li > .add-search-result {
	border: none;
	background: none;
	color: #777;
	width: 10%;
}

#route > li > .delete-waypoint:hover,
#search-results > li > .add-search-result:hover {
	color: #000;
}

#route > li:first-child > .waypoint-flag {
	color: green;
}

#route > li:last-child:not(:first-child) > .waypoint-flag {
	color: red;
}

.view-toggler {
	display: block;
	width: 100%;
	height: 1.875em;
	border: none;
	line-height: 1.875em;
	text-align: center;
	cursor: pointer;
}

.view-toggler > input {
	position: absolute;
	top: -1000px;
}

#route-creator.map-visible #composer {
	overflow: hidden;
	height: 1.875em;
	bottom: auto;
}
