<div id="route-creator" ng-class="{'map-visible': fullscreen}">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">HERE Web Coding Challenge</a>
		</div>
	</nav>
	<div id="composer">
		<label title="Click to hide or show the sidebar" class="view-toggler glyphicon" ng-class="{'glyphicon-chevron-up': !fullscreen, 'glyphicon-chevron-down': fullscreen}">
			<input type="checkbox" ng-model="fullscreen">
		</label>
		<h2 ng-hide="waypoints.length">Create your route</h2>
		<p ng-hide="waypoints.length">Search for locations using the text field below and add selected locations to your route. When you're done, check the map for route details.</p>
		<h2 ng-hide="!waypoints.length">Your route</h2>
		<ul id="route" ui-sortable ng-model="waypoints">
			<li ng-repeat="waypoint in waypoints">
				<span class="waypoint-flag glyphicon glyphicon-flag"></span>
				<span class="waypoint-name">{{ waypoint.title }}</span>
				<button type="button" class="delete-waypoint glyphicon glyphicon-remove" title="Delete waypoint" ng-click="removeWaypoint(waypoint)"></button>
			</li>
		</ul>

		<div id="search-area" ng-class="{'has-results': searchResults.length}">
			<ul id="search-results">
				<li ng-repeat="searchResult in searchResults">
					<span class="search-result-icon glyphicon glyphicon-globe"></span>
					<span class="search-result-name">{{ searchResult.title }}</span>
					<button type="button" ng-click="selectSearchResult(searchResult)" class="add-search-result glyphicon glyphicon-plus" title="Add to waypoints"></button>
				</li>
			</ul>
			<form ng-submit="searchPlaces()">
				<input type="search" ng-model="searchTerms" class="form-control" placeholder="Type and hit enter to search…"></button>
			</form>
		</div>
	</div>
	<div id="map" nokia-map markers="waypoints"></div>
</div>